@model AventraInterviewTask.Models.ViewModels.MennuItemViewModel
@using AventraInterviewTask.Extensions


<h4 class="text-center">MenuItem</h4>


<div class="row  backgroundWhite">
    <div class="col-md-8">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">               
                    <label asp-for="EventActionItem.EventCategoryId" class="col-form-label font-weight-bold font-weight-bold font-weight-bold"></label>                        
                    <select class="form-control"
                            asp-for="EventActionItem.EventCategoryId"
                            asp-items="Model.EventCategoryList.ToSelectListItem(Model.EventActionItem.EventCategoryId)">
                    </select>               
            </div>

            <div class="form-group row">
               
                    <label asp-for="EventAction" class="col-form-label font-weight-bold font-weight-bold"></label>              
                    <select class="form-control"
                            asp-for="EventAction"
                            asp-items="new SelectList(Model.EventAction)">
                    </select>
            </div>
           
        <div class="form-group">
            <label asp-for="BaseClassEventAction.SupportEmail" class="control-label"></label>
            <input asp-for="BaseClassEventAction.SupportEmail" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.SupportEmailCC" class="control-label"></label>
            <input asp-for="BaseClassEventAction.SupportEmailCC" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.MailTemplate" class="control-label"></label>
            <input asp-for="BaseClassEventAction.MailTemplate" class="form-control" />
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="BaseClassEventAction.Validate" /> @Html.DisplayNameFor(model => model.BaseClassEventAction.Validate)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.Username" class="control-label"></label>
            <input asp-for="BaseClassEventAction.Username" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.Password" class="control-label"></label>
            <input asp-for="BaseClassEventAction.Password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.HttpMethod" class="control-label"></label>
            <input asp-for="BaseClassEventAction.HttpMethod" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.ExpectedHttpStatus" class="control-label"></label>
            <input asp-for="BaseClassEventAction.ExpectedHttpStatus" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.DataType" class="control-label"></label>
            <input asp-for="BaseClassEventAction.DataType" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.Comment" class="control-label"></label>
            <input asp-for="BaseClassEventAction.Comment" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BaseClassEventAction.MaxRecordsPerFile" class="control-label"></label>
            <input asp-for="BaseClassEventAction.MaxRecordsPerFile" class="form-control" />
            <span asp-validation-for="BaseClassEventAction.MaxRecordsPerFile" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

